---
import "../styles/global.css";
import Header from "../components/Header.astro";
import Intro from "../components/Intro.astro";
import Projects from "../components/Projects.astro";
import About from "../components/About.astro";
import Contact from "../components/Contact.astro";
import {
  header,
  intro,
  codekeytext,
  bittietext,
  about,
  contact,
} from "../language-text/english.js";
import Github from "../icons/Github.astro";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Nuria | Fullstack developer</title>
    <meta
      name="description"
      content="Fullstack developer based in Barcelona, Spain. I create beautiful & complex user interfaces while prioritizing both performance and accessibility."
    />
  </head>
  <body
    class="flex flex-col items-center absolute inset-0 -z-10 h-full w-full bg-[radial-gradient(#e5e7eb_1px,transparent_1px)] [background-size:16px_16px]"
  >
    <Header language="es" header={header} />
    <main class="mt-32 flex items-center justify-center">
      <div class="flex flex-col items-center justify-center">
        <Intro
          intro={intro}
          url="https://www.linkedin.com/in/nuriafg/?locale=en_US"
        />
        <Projects
          title="projects"
          codekeytext={codekeytext}
          bittietext={bittietext}
        />
        <About title="about" about={about} />
        <Contact title="contact" contact={contact} />
      </div>
    </main>
    <footer class="flex gap-8 items-center pb-11">
      <div class="flex gap-4 items-center">
        <a
          aria-label="LinkedIn"
          href="https://www.linkedin.com/in/nuriafg/?locale=en_US"
          target="_blank"
          class="text-xl tracking-wider border-[1px] p-[0.30rem] pt-0 pb-0 text-white bg-slate-800 rounded-md hover:bg-black cursor-pointer select-none duration-200"
        >
          in
        </a>
        <a
          aria-label="Github"
          href="https://github.com/nutaptap"
          target="_blank"
          class="p-[0.33rem] text-white bg-slate-800 rounded-full hover:bg-black cursor-pointer select-none duration-200"
        >
          <Github />
        </a>
      </div>
      <div>
        <p>This website was built using Astro.</p>
        <p>
          <a
            class="underline hover:text-black duration-200"
            href="https://github.com/nutaptap/portfolio-2"
            target="_blank">You can check out the code here</a
          >
        </p>
      </div>
    </footer>
  </body>
</html>
