---
import { Image } from "astro:assets";
import AboutIcon from "../icons/AboutIcon.astro";
import Left from "../icons/Left.astro";
import Right from "../icons/Right.astro";
import picture from "../assets/pic.png";

const { about, title } = Astro.props;
---

<section
  class="mt-32 text-lg w-[450px] md:w-[840px] flex flex-col items-center"
  id="about"
>
  <div class="flex gap-4 self-start">
    <Left width="12px" />
    <div class="flex gap-3 items-center">
      <AboutIcon />
      <h2 class="cursor-default mb-1">{title}</h2>
    </div>
    <Right width="12px" />
  </div>
  <div class="mt-12 flex flex-col md:flex-row gap-16 items-center">
    <div
      class="w-[234px] h-[275px] flex justify-center items-center rounded-lg bg-gradient-to-r from-violet-300 to-green-200 self-start md:self-center"
    >
      <div
        class="w-[224px] h-[265px] bg-white rounded-md flex justify-center items-center"
      >
        <Image
          src={picture}
          alt="Nuria"
          class="w-[220px] rotate-2 rounded-md drop-shadow-xl hover:scale-[102%] hover:rotate-0 duration-500"
        />
      </div>
    </div>
    <div class="w-[450px] md:w-[550px] git staty text-slate-950">
      <p>
        {about[0]}
      </p>
      <p class="mt-2">
        {about[1]}<b>{about[2]}</b>{about[3]}
        <b>{about[4]}</b>{about[5]}
      </p>
      <p class="mt-2">
        {about[6]}<b>{about[7]}</b>{about[8]}
      </p>
    </div>
  </div>
</section>
