---
import Image from "astro/components/Image.astro";
import codekey from "../assets/codekey.png";
import LinkDark from "./LinkDark.astro";
import Label from "./Label.astro";
import Git from "../icons/Git.astro";
import Link from "../icons/Link.astro";
import React from "../icons/React.astro";
import Typescript from "../icons/Typescript.astro";
import Node from "../icons/Node.astro";
import Javascript from "../icons/Javascript.astro";
import Mongodb from "../icons/Mongodb.astro";
import Tailwind from "../icons/Tailwind.astro";

const { codekeytext } = Astro.props;
---

<article class="mt-12">
  <div class="bg-[url('../assets/gradient.png')] bg-[length:1000px] rounded-xl">
    <a href="https://codekey.vercel.app/" target="_blank">
      <Image
        src={codekey}
        alt="Codekey project thumbnail"
        class="hover:scale-[103%] duration-500 p-20 drop-shadow-xl"
        loading="eager"
      />
    </a>
  </div>
  <div class="mt-8">
    <div class="flex gap-3 items-center">
      <div
        class="w-3 h-3 border-2 border-slate-800 bg-white rounded-full hidden md:block"
      >
      </div>
      <h3 class="cursor-default">Codekey - {codekeytext[0]}</h3>
    </div>
    <div class="mt-8 flex gap-5 flex-wrap">
      <Label text="React"><React /></Label>
      <Label text="TypeScript"><Typescript /></Label>
      <Label text="Tailwind"><Tailwind /></Label>
      <Label text="Node"><Node /></Label>
      <Label text="Express"><Node /></Label>
      <Label text="JavaScript"><Javascript /></Label>
      <Label text="MongoDB"><Mongodb /></Label>
    </div>
    <div class="mt-8 cursor-default">
      <p>{codekeytext[1]}</p><p>
        {codekeytext[2]}<b>{codekeytext[3]}</b>.
      </p>
      <p>{codekeytext[4]}</p>
      <p>
        {codekeytext[5]}<b>{codekeytext[6]}</b>{codekeytext[7]}<b
          >{codekeytext[8]}</b
        >{codekeytext[9]}<b>{codekeytext[10]}</b>.
      </p>
    </div>
    <div class="mt-8 flex gap-3">
      <LinkDark text="code" ref="https://github.com/nutaptap/codekey"
        ><Git /></LinkDark
      >
      <LinkDark text="demo" ref="https://codekey.vercel.app/"><Link /></LinkDark
      >
    </div>
  </div>
</article>
