---
import "../styles/intro.css";
import { Image } from "astro:assets";
import avatar from "../assets/avatar.png";
import Left from "../icons/Left.astro";
import Right from "../icons/Right.astro";
import Github from "../icons/Github.astro";
import Linkedin from "../icons/Linkedin.astro";
import Link from "./Link.astro";

const { intro } = Astro.props;
---

<section
  class="flex items-center gap-[90px] cursor-default flex-col md:flex-row"
>
  <div class="flex items-center w-[250px]">
    <Left width="130px" animation="floating-left" />
    <Image
      src={avatar}
      alt="avatar"
      loading="eager"
      class="w-[140px] ml-5 mr-4"
    />
    <Right width="130px" animation="floating-right" />
  </div>
  <div class="flex flex-col w-[400px] md:w-[500px] px-3">
    <div class="intro-text">
      <h1 class="mb-3">
        {intro[0]}<span class="name">Nuria</span><span class="gradient"
          >Nuria</span
        >.
      </h1>
      <p class="text-lg">
        {intro[1]}<b>{intro[2]}</b>{intro[3]}
      </p>
      <p class="text-lg">
        {intro[4]}<b>{intro[5]}</b>{intro[6]}<b>{intro[7]}</b>.
      </p>
    </div>
    <div class="mt-4 flex gap-3">
      <Link text="github" ref="https://github.com/nutaptap">
        <Github />
      </Link>
      <Link text="linkedin" ref="https://www.linkedin.com/in/nuriafg/">
        <Linkedin />
      </Link>
    </div>
  </div>
</section>
